<main>
    <div class="container-fluid error">
        <div class="row">
            <p class="error-title">{{heading}}</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="error-code">{{error}}</p>
                <p class="error-desc">{{description}}</p>
            </div>
        </div>
        <div class="row error-menu">
            <div class="col-md-4 offset-md-4">
                <a href="/menu"><button class="order-button" type="button">Menu</button></a>  
            </div>
        </div>
    </div>
</main>
   