<main>
    <div class="container-fluid home">
        <div class="container">
                <h1 class="text-center">{{moto}}</h1>
                <h2 class="welcome">{{welcomeText}}</h2>
            <div class="row logged-menu-wrapper hidden">
                <div class="col-lg-6 logged-menu-item">
                    <a href="/menu">Menu</a>
                </div>
                <div class="col-lg-6 loged logged-menu-item">
                    <a id="edit" href="#">Edit Profile</a>
                </div>
                <div class="col-lg-6 logged-menu-item">
                    <a href="/cart">Cart</a>
                </div>
                <div class="col-lg-6 logged-menu-item">
                    <a id="delete" href="#">Delete profile</a>
                </div>
            </div>
        </div>
    </div>
    
</main>